.cardOptionsGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

 
@media screen and (max-width: 1500px) {
    .cardOptionsGrid{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
    }
  }
  
@media screen and (max-width: 1200px) {
    .cardOptionsGrid{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 850px) {
    .cardOptionsGrid{
        grid-template-columns:  1fr;
    }
  }

  
